absl-py==2.1.0
AccessControl==7.2
Acquisition==6.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.11.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
aurelio-sdk==0.0.18
AuthEncoding==6.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.12.3
blinker==1.8.2
borg.localrole==3.1.11
BTrees==6.1
build==1.3.0
cachetools==5.5.2
certifi==2024.8.30
cffi==2.0.0
Chameleon==4.6.0
chardet==3.0.4
charset-normalizer==3.4.0
chromadb==1.1.0
click==8.1.7
cmake==4.0.3
collective.monkeypatcher==2.0.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comtypes==1.4.7
contourpy==1.3.0
cssselect==1.3.0
cv2module==0.1.2
cycler==0.12.1
DateTime==5.5
decorator==5.2.1
diazo==2.0.3
distro==1.9.0
Django==4.2.28
dlib @ file:///C:/Users/vanas/Downloads/dlib-19.22.1-cp39-cp39-win_amd64.whl
DocumentTemplate==4.6
docutils==0.22.2
durationpy==0.10
exceptiongroup==1.3.0
ExtensionClass==6.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.117.1
feedparser==6.0.12
filelock==3.19.1
five.customerize==4.0
five.intid==3.0.2
five.localsitemanager==5.0
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.53.1
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-pasta==0.2.0
googleapis-common-protos==1.70.0
googletrans==3.0.0
groq==0.31.1
grpcio==1.70.0
h11==0.16.0
h2==3.2.0
h5py==3.13.0
hpack==3.0.0
hstspreload==2024.10.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.35.1
humanfriendly==10.0
hyperframe==5.2.0
icalendar==6.3.1
idna==2.10
imageio==2.37.0
importlib_metadata==8.5.0
importlib_resources==6.4.4
imutils==0.5.4
ipynb-py-convert==0.4.6
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.11.0
joblib==1.4.2
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
keras==3.8.0
keras-tuner==1.4.7
keras-vis==0.4.1
kiwisolver==1.4.7
kt-legacy==1.0.5
kubernetes==33.1.0
lazy_loader==0.4
libclang==18.1.1
lxml==6.0.2
lxml_html_clean==0.4.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.9.2
mdurl==0.1.2
Missing==5.0
ml-dtypes==0.4.1
mmh3==5.2.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.6.4
MultiMapping==5.0
multipart==1.3.0
namex==0.0.8
narwhals==2.1.2
networkx==3.2.1
numpy==1.26.4
oauthlib==3.3.1
onnxruntime==1.19.2
openai==1.109.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opt_einsum==3.4.0
optree==0.14.0
orjson==3.11.3
overrides==7.7.0
packaging==24.1
pandas==2.2.2
Paste==3.10.1
PasteDeploy==3.1.0
Persistence==5.1
persistent==6.1.1
piexif==1.1.3
pillow==10.4.0
plone.alterego==2.0.2
plone.api==2.5.3
plone.app.content==4.1.11
plone.app.contentlisting==3.0.6
plone.app.contentmenu==3.0.8
plone.app.contentrules==5.0.8
plone.app.contenttypes==3.0.11
plone.app.customerize==2.0.3
plone.app.dexterity==3.2.2
plone.app.discussion==4.1.5
plone.app.event==5.2.3
plone.app.i18n==4.0.2
plone.app.intid==2.0.1
plone.app.layout==5.0.2
plone.app.linkintegrity==4.0.6
plone.app.locales==6.0.31
plone.app.lockingbehavior==2.0.3
plone.app.multilingual==8.2.4
plone.app.portlets==6.0.3
plone.app.querystring==2.1.4
plone.app.redirector==3.0.5
plone.app.registry==2.0.7
plone.app.relationfield==4.0.3
plone.app.textfield==3.0.1
plone.app.theming==5.0.15
plone.app.users==3.1.4
plone.app.uuid==2.2.4
plone.app.versioningbehavior==2.0.5
plone.app.viewletmanager==4.0.5
plone.app.vocabularies==6.0.4
plone.app.workflow==5.0.4
plone.app.z3cform==4.7.9
plone.autoform==2.0.4
plone.autoinclude==2.0.4
plone.base==1.4.1
plone.batching==2.0.7
plone.behavior==2.0.3
plone.browserlayer==3.0.2
plone.caching==2.0.2
plone.contentrules==3.0.2
plone.dexterity==3.0.8
plone.event==2.0.3
plone.folder==4.0.1
plone.formwidget.namedfile==3.1.2
plone.formwidget.recurrence==3.0.6
plone.i18n==5.1.1
plone.indexer==2.0.2
plone.intelligenttext==4.0.2
plone.keyring==4.0.3
plone.locking==3.0.2
plone.memoize==3.0.4
plone.namedfile==7.2.1
plone.outputfilters==5.0.5
plone.portlet.collection==4.0.5
plone.portlet.static==4.0.5
plone.portlets==3.0.3
plone.protect==5.0.5
plone.registry==2.0.2
plone.resource==3.0.3
plone.resourceeditor==4.0.2
plone.rest==5.1.0
plone.restapi==9.15.2
plone.rfc822==3.0.2
plone.scale==4.2.1
plone.schema==2.0.3
plone.schemaeditor==4.0.13
plone.session==4.0.6
plone.staticresources==2.3.2
plone.stringinterp==2.0.3
plone.subrequest==2.0.6
plone.supermodel==2.0.5
plone.theme==4.0.4
plone.transformchain==3.0.2
plone.uuid==2.0.2
plone.z3cform==2.0.5
plonetheme.barceloneta==3.3.0
posthog==5.4.0
Products.BTreeFolder2==5.1
Products.CMFCore==3.7
Products.CMFDiffTool==4.0.5
Products.CMFDynamicViewFTI==7.0.3
Products.CMFEditions==4.0.6
Products.CMFPlone==6.0.15
Products.CMFUid==4.2
Products.DateRecurringIndex==3.0.1
Products.DCWorkflow==3.0
Products.ExtendedPathIndex==5.0.0
Products.ExternalMethod==6.0
Products.GenericSetup==5.0.0
Products.isurlinportal==2.0.3
Products.MailHost==6.0
Products.MimetypesRegistry==3.0.1
Products.PlonePAS==8.0.5
Products.PluggableAuthService==3.0
Products.PluginRegistry==2.0
Products.PortalTransforms==4.1.1
Products.PythonScripts==5.1
Products.Sessions==6.0
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.statusmessages==5.0.7
Products.ZCatalog==7.2
Products.ZopeVersionControl==4.1
propcache==0.3.2
protobuf==5.29.3
psycopg2-binary==2.9.10
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pybase64==1.4.2
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
pydeck==0.9.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyJWT==2.10.1
PyMsgBox==1.0.9
pyparsing==3.1.4
pyperclip==1.9.0
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-gettext==5.0
pyttsx3==2.98
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
pywin32==307
PyYAML==6.0.2
Record==4.1
redturtle.faq==1.0.2
referencing==0.36.2
regex==2025.9.18
repoze.xmliter==0.6.1
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
RestrictedPython==8.1a1.dev0
rfc3986==1.5.0
rich==13.9.4
roman==5.1
rpds-py==0.27.0
rsa==4.9.1
safetensors==0.6.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
semantic-router==0.0.72
sentence-transformers==5.1.1
serial==0.0.97
sgmllib3k==1.0.0
shellingham==1.5.4
simplejson==3.20.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.10.4
sqlparse==0.5.5
starlette==0.48.0
streamlit==1.48.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.11.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
transaction==5.0
transformers==4.56.2
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
Unidecode==1.4.0
urllib3==1.26.20
uvicorn==0.37.0
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.0
WebOb==1.8.9
webresource==1.2
websocket-client==1.8.0
websockets==15.0.1
WebTest==3.0.6
Werkzeug==3.0.4
wikipedia==1.4.0
wrapt==1.17.2
WSGIProxy2==0.5.1
yarl==1.20.1
z3c.caching==4.0
z3c.form==6.0.1
z3c.formwidget.query==3.0
z3c.jbot==3.1
z3c.objpath==3.0
z3c.pt==5.1
z3c.relationfield==3.0
z3c.zcmlhook==3.0
zc.lockfile==4.0
zc.relation==3.0
ZConfig==4.2
zExceptions==5.0
zipp==3.20.1
ZODB==6.0.1
zodbpickle==4.2
Zope==5.13
zope.annotation==6.0
zope.app.locales==6.0
zope.browser==4.0
zope.browsermenu==6.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.component==7.0
zope.componentvocabulary==4.0
zope.configuration==7.0
zope.container==7.0
zope.contentprovider==7.0
zope.contenttype==6.0
zope.copy==6.0
zope.datetime==6.0
zope.deferredimport==6.0
zope.deprecation==6.0
zope.dottedname==7.0
zope.event==6.0
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.globalrequest==3.0
zope.hookable==8.0
zope.i18n==6.0
zope.i18nmessageid==8.0
zope.interface==8.0.1
zope.intid==6.0
zope.keyreference==7.0
zope.lifecycleevent==6.0
zope.location==6.0
zope.pagetemplate==6.0
zope.processlifetime==4.0
zope.proxy==7.0
zope.ptresource==6.0
zope.publisher==8.0
zope.ramcache==4.0
zope.schema==8.0
zope.security==8.1
zope.sendmail==7.0
zope.sequencesort==6.0
zope.site==6.0
zope.size==6.0
zope.structuredtext==6.0
zope.tal==6.0
zope.tales==7.0
zope.testbrowser==8.0
zope.testing==6.0
zope.traversing==6.0
zope.viewlet==6.0
